.menu {
    font-family: serif;
    font-size: 25px;
    font-style: italic;
    background-color: #7cdccc;
    text-decoration: none;
    text-align: center;
    border: 1000px;
    display: flexbox;

}

.menu li {
    display: inline-block;
    padding-bottom: 23px;
    color: #fff;

}


.titulo {
    color: rgb(3, 2, 85);
    font-size: 28px;
    text-align: center;
    background-color: #649cfc c;
}

.parrafoGeneral p {
    width: 300px;
    color: blue;
    display: flexbox;
    justify-content: center;
    padding: 30px;
}

.imaagenesServicios {
    width: 100px;
    height: 300px;

}

.imaagenesServicios img {
    width: 10px;
}




.servicios {
    text-align: center;
    color: rgb(21, 59, 182);
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr;
    grid-template-rows: 10fr 10fr 10fr 10fr;
}

.imagenesServicios{
    width: 10px;
    height: 100px;
    text-align: center;
    color: rgb(83, 55, 50);
    display: grid;
    
}

.fondoFooter {
    background-color: #7cdccc;
    text-align: center;


}
.fondoFooter img{
    text-align: left;
}

.imagenesHijas {
    display: grid;
    grid-template-columns: 20fr 20fr 20fr;
    grid-template-columns: 40fr 40fr 40fr;
}

@media screen and (max-width:500px) {
    .servicios {
        grid-template-columns: 20fr 20fr 20fr 20fr;
        grid-template-rows: 40fr 40fr 40fr 40fr;



    }
}


@media screen and (max-width:500px) {
    .imagenesHijas {
        display: grid;
        grid-template-columns: 20fr 20fr 20fr;
        grid-template-columns: 40fr 40fr 40fr;


    }
}

.formulario{
    width: 600px;
    height: 500px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: grid;
 

}